name: Test Release to test.pypi.org

on:
  release:
    types: [published]
    tags:
      - "**dev**"
      - "**rc**"

jobs:
  build:
    name: publish to test.pypi.org
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo and the submodules.
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.9"

      - name: Install build dependencies & build
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
          python setup.py sdist bdist_wheel
      - name: Publish dev/rc build to test.pypi.org
        uses: pypa/gh-action-pypi-publish@v1.3.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TEST_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
